* {
  margin: 0px;
  padding: 0px;
}
h1 {
  border-bottom: 5px solid salmon;
  padding-bottom: 10px;
}
ol {
  border-right: 5px solid rebeccapurple;
}
.a1 {
  color: red;
}
div {
  display: grid;
  grid-template-columns: 130px 1fr;
  background-image: linear-gradient(rgb(50, 91, 205), rgb(21, 255, 0));
}
img {
  margin-top: 30px;
  box-shadow: 10px 10px rebeccapurple;
}
